html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 0 auto;
    background: #bdc3c7;
    text-align: center;
}
.footer {
    background: #2c3e50;
    text-align: center;
    color: #fff;
    padding: 1rem;
    flex-shrink: 0;
}